body {
	margin-top: 40px;
	background: url('../images/bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	 background-size: cover;
}

.container {
	background: #fff;
	border-radius: 10px;
	padding: 15px 15px 50px 15px;
	-webkit-box-shadow: -21px 20px 26px -10px rgba(51,51,51,0.52);
	-moz-box-shadow: -21px 20px 26px -10px rgba(51,51,51,0.52);
	box-shadow: -21px 20px 26px -10px rgba(51,51,51,0.52);
}

#map {
	width: 100%;
	min-height: 200px;
	background: #DEB887;
	color: #000;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
	font-size: 30px;
	border-radius: 4px 4px 0 0;
}

#info {
	width: 100%;
	min-height: 50px;
	padding: 5px 10px 5px 10px;
	color: #fff;
	background: #000;
	border-radius: 0 0 4px 4px;
	font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

#editor {
	width: 100%;
	height: 315px;
	border-radius: 4px;
	font-size: 15px;
}

#run {
}

.tips {
	border: 1px solid #c0c0c0;
	border-radius: 4px;
	margin-top: 20px;
}

.tips-heading {
	background-color: #33c3f0;
	font-size: 21px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}

.tips-body {
	padding: 10px;
	font-size: 16px;
}

.tip-card-body {
	display: none;
}

.tip-card-control {
	margin-bottom: 10px;
	display: none;
}

.import {
	border: 1px solid #c0c0c0;
	border-radius: 4px;
	margin-top: 20px;
}

.import-heading {
	/*background-color: #c0c0c0;*/
	border-bottom: 1px solid #c0c0c0;
	font-size: 21px;
	text-transform: uppercase;
	color: #000;
	text-align: center;
}

.import-body {
	padding: 10px;
	font-size: 16px;
}

.isPath { padding-left: 13px; }

#hearts {
	color: #ff0000;
	font-size: 20px;
}

#gems {
	float: right;
}

#gems:after {
	content: '';
    display: block;
    clear: both;
}